body {
	background-color: #00008B;
}
#header {
	background: red;
	width: 970px;
	height: 25%;
	border-radius: 20px;
	color: white;
	padding: 5px 20px;
	display: inline-block;
	vertical-align: top;
	margin:5px;
}
